.row-fluid
  .span4
    %h3 Activity Feed
        
  .span8
    .page-header
      %h3 
        MacBury
        %small workspaces

    %table.zebra-striped.bordered-table
      %tr
        %th Name

      - @workspaces.each do |workspace|
        %tr
          %td= link_to workspace.name, workspace



%br

= link_to 'New Workspace', new_workspace_path, class: "btn btn-large btn-primary"
