.spaces {
  overflow-x: auto;
  $spaces_radius: 4px;
  $space_height: 300px;
  width: 100%;

  table {
    width: 100%;
  }

  .placeholder {
    border: 2px dashed #ccc;
    margin: 10px;
  }
  &, & tr, & td {
    border: none;
  }

  & td {
    min-width: 320px;
    padding: 0px 4px;
  }

  & td:first-child {

  }

  & td:last-child {

  }

  .space {
    height: $space_height;
    overflow: hidden;

    .toolbar {
      .move {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: transparent image-url("move.png") no-repeat;
        margin-bottom: -1px;
        margin-right: 2px;
        cursor: move;
      }

      overflow: hidden;
      height: 26px;
      background: #333;
      font-size: 10px;
      border-radius: $spaces_radius $spaces_radius 0 0;
      padding: 0px 6px;
      border: 1px solid rgba(0,0,0,0.5);
      border-bottom: 0px;
      line-height: 26px;
      .title {
        color: #fff;
        text-transform:uppercase;
        font-weight: bold;
      }

      .act {
        float: right;
        a {
          background: image-url("close_panel.png") transparent no-repeat 0 0;
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-top: 5px;
          text-indent: -999px;
          margin-left: 5px;
          display: none;
          opacity: 0.4;
          overflow: hidden;
        }

        a:hover {
          opacity: 1.0;
        }

        .hide {
          display: inline-block;
        }
      }
      
    }

    .inner {
      border: 1px solid #6E6E6E;
      border-top: 0px;
      background: #AEB6B9;
      color: #666;
      border-radius: 0 0 2px 2px;
      box-shadow: 0px 0px 1px rgba(0,0,0, 0.2);
      height: $space_height - 28px;
      overflow-x: hidden;
      overflow-y: hidden;

      .end {
        height: 202px;
        background: #AEB6B9 image-url("dropzone.png") repeat-x top;
      }
    }
  }

  .member {
    background-color: #F4F4F4;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid white;
    min-height: 32px;
    height: 32px;
    line-height: 32px;
    .avatar {
      float: left;
      margin-right: 5px;
      margin-left: 1px;
      border-radius: 5px;
      width: 32px;
      height: 32px;
    }
  }

  .ticket {
    background-color: #F4F4F4;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid white;
    min-height: 24px;
    line-height: 24px;

    &.restart {
      border-top: 1px solid lighten(#a5243e, 60%);
      background-color: lighten(#a5243e, 50%);
      border-bottom: 1px solid lighten(#a5243e, 45%);
      &:hover {
        background-color: lighten(#a5243e, 55%);
      }
    }

    &.accepted {
      background-color: #DAEBCF;
      border-top: 1px solid #EEFCE2;
      border-bottom: 1px solid #C3D5B4;

      .list:hover {
        background-color: lighten(#DAEBCF, 5%) !important;
      }

      .button {
        display: none;
      }
    }

    &.delivered {
      .accept {
        margin-right: 0px;
        background-color: #6b9a13;
        border-color: #416f00;
        color: #fff;

        &:hover {
          background-color: #416f00;
        }
      }
      .reject {
        margin-left: 2px;
        background-color: #a5243e;
        border-color: #821328;
        color: #fff;

        &:hover {
          background-color: #821328;
        }
      }

      .status {
        display: none;
      }
      .accept, .reject {
        display: block !important;
      }
    }

    &.finished, &.delivered {
      background-color: #F3F3D1;
      border-top: 1px solid white;
      border-bottom: 1px solid #DBDBB0;

      & .list:hover {
        background-color: darken(#F3F3D1, 10%);
      }

      .status {
        background-color: #ef9113;
        color: #fff;
        border-color: #cd6e00;

        &:hover {
          background-color: #cd6e00;
        }
      }
    }

    &.started {
      background-color: #E4EFF7;
      & .list:hover {
        background-color: darken(#E4EFF7, 5%);
      }

      .status {
        background-color: #2b4c74;
        color: #fff;
        box-shadow: inset 0px 0px 1px #416e9b;
        border-color: #24364c;

        &:hover {
          background-color: #24364c;
        }
      }
    }

    .button {
      background: #e0e2e5;
      border: 1px solid #bbc4cc;
      box-shadow: inset 0px 0px 1px #fff;
      border-radius: 2px;
      display: block;
      float: left;
      width: 49px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      color: #222;
      margin: 1px 5px;
      font-size: 11px;
      font-weight: bold;
      margin-top: 0px;

      &:hover {
        text-decoration: none;
        background: #bbc4cc;
      }
    }

    .list {
      
      .title {
        display: block;
        margin-left: 20px;

        .info {
          width: 16px;
          height: 24px;
          display: inline-block;
          margin-right: 2px;
          &.feature {
            background: transparent image-url("feature.png") no-repeat center center;
          }
        }

        span {
        }
      }

      .avatar {
        height: 21px;
        img {
          height: 21px;
        }
      }

      &:hover {
        background: #E6E6E6;
      }

      .pull-right {
        margin: 1px 2px;
        float: right;
        height: 21px;

        .accept, .reject {
          display: none;
        }

        .split {
          border-left: 1px dotted gray;
          width: 1px;
          height: 21px;
          display: inline-block;
        }
      }
    }
    .expand {
      position: absolute;
      text-indent: -999px;
      background: transparent image-url("expand.gif") no-repeat center;
      width: 18px;
      height: 22px;
      display: inline-block;
    }
    .collapse {
      text-indent: -999px;
      background: transparent image-url("collapse.gif") no-repeat center;
      width: 18px;
      height: 22px;
      display: inline-block;
      position: absolute;
    }
    .block {
      background: #fff image-url("grid-18px-masked.png") repeat-x top;

      .form {
        margin: 0 20px;
      }
    }
  }

}


.nano > .pane {
  right: 2px;
  top: 2px;
  bottom: 2px;
}

.ui-selected {

}

.ui-selectable-helper {
  position: absolute; 
  z-index: 100; 
  border:1px solid rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.1);
}